body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  min-width: 650px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

header {
  display: flex;
  padding: 0.5em;
  align-items: flex-end;
  border-bottom: 5px rgb(45, 164, 255) double;
}

.page-title {
  font-size: 48px;
  display: inline;
  width: 100%;
  margin: 0;
  padding: 5px;
}

main { 
  display: flex;
  width: 100%;
  height: 80%;
  align-items: stretch;
  justify-content: space-around;
}

.country-search {
  flex: 1 0 33%;
  margin: 0 0 0 1%;
  min-width: 175px;
  max-width: 300px;
}

.country-info {
  flex: 1 0 66%;
}

form {
  display: flex;
  border: 1px solid rgb(39, 39, 39);
  flex-grow: 80%;
  max-width: 300px;
  margin: 0 5%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.35);
  background-color: white;
  border-radius: 10px;
}

.mag-img {
  width: 25px;
  background-image: url('./Images/mag.png');
  background-size: cover;
}

.search-input {
  border: none;
  width: 80%;
  padding: 5px 5px 5px 0;
  border-radius: 10px;
  min-width: none;
}

.search-input:focus {
  outline-width: 0;
}

.search-list  {
  margin: 25px 10% ;
  padding: 2% 4%;
  min-height: 60%;
  max-height: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow:0 0 10px 2px rgba(0,0,0,0.35);
  border: 8px ridge rgb(45, 164, 255)
}

.search-country-div {
  position: relative;
  text-align: center;
  position: relative;
  margin: 20px 5% 30px;
  box-shadow:0 0 10px 3px rgba(0,0,0,0.3);
}

.country-search-name {
  margin: 0;
  font-weight: 700;
  font-size: medium;
}

.fave-button {
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  height: 35px;
  width: 35px;
  right: 0;
  top: 0;
  transition: 0.3s
}

.fave-button:hover {
  transform-origin: top right;
  transform: scale(1.1)
}

.fave-button:active {
  transform: scale(1.05);
}

.selected {
  background-image: url('./Images/goldstar_filled.png');
}

.not-selected {
  background-image: url('./Images/goldstar_empty.png');
}

.search-flag {
  max-height: 120px
}

button {
  height: 28px;
  align-items: center;
  margin: 0 5px;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
}

.country-detail {
  height: 100%;
  overflow-x: hidden;
  margin: 0 0 0 5%
}

.country-details-list {
  padding: 0 0 10px 40px;
  margin: 25px 0 0 0;
  height: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
}


.country-container {
  box-shadow:0 0 10px 3px rgba(0,0,0,0.1);
  margin: 10px 10% 0 0;
  padding: 10px;
}

.country-details-container {
  position: relative;
  display: flex;
  align-items: baseline;
}

.flag {
  width:90px;
  height: 60px
}

.country-title {
  margin: 0;
  font-size: 24px;
  padding: 0 1%;
}

.country-info {
  display: inline-block;
  width: 50%
}

span {
  font-style: normal;
}

.detail-text-format {
  margin: 10px 0;
  font-style: italic;
}

.checkbox {
  position: absolute;
  top:0;
  left: -42px; 
  height: 20px;
  width: 20px;
  transition: 0.1s
}

.checkbox:hover {
  transform: scale(1.1);
}

.checkbox:active {
  transform: scale(1.05);
}

h3 {
  font-size: 26px;
  margin: 22px 10px 
}

footer {
  text-align: center;
  margin-top: 20px;
  font-family: cursive;
  font-size: 15px;
}


.pop-out-input {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.605);
}

fieldset {
  z-index: 1;
  width: 75%;
  border-radius: 15px;
  background-color: white;
}

.pop-out-fields {
  display: inline-block;
  width:40%;
  padding: 0 5%;
}

.text{
  display: block;
  margin: 5px 0 20px 0;
}

.pop-out-header {
  display: inline-block;
  font-weight: 800;
  font-size: x-large;
  margin: 0;
  width: 100%
}

label {
  font-size: 18px;
  font-weight: 500;
}

.name {
  width: 100%
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.pencil-icon {
  padding: 15px 0;
  height: 15px;
  transition: 0.3s
}

.pencil-icon:hover {
  transform: scale(1.4);
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 1px 4px inset;
  transform: translateY(1px);
}

.form-button {
  margin: 5px 0 0 0
}