body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  min-width: 650px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

header {
  display: flex;
  padding: 0.5em;
  align-items: flex-end;
  border-bottom: 5px rgb(45, 164, 255) double;
}

.page-title {
  font-size: 48px;
  display: inline;
  width: 100%;
  margin: 0;
  padding: 5px;
}

main { 
  display: flex;
  width: 100%;
  height: 80%;
  align-items: stretch;
  justify-content: space-around;
}

.country-search {
  flex: 1 0 25%;
  min-width: 175px;
  max-width: 300px;
}

.country-info {
  flex: 1 0 75%;
}

form {
  display: flex;
  border: 1px solid rgb(39, 39, 39);
  flex-grow: 80%;
  max-width: 300px;
  margin: 0 5%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 10px;
}

.mag-img {
  width: 25px;
  background-image: url('./mag1.png');
  background-size: cover;
}

.search-input {
  border: none;
  width: 80%;
  padding: 5px 5px 5px 0;
  border-radius: 10px;
  min-width: none;
}

.search-input:focus {
  outline-width: 0;
}

.search-list  {
  margin: 25px 10% ;
  padding: 2% 4%;
  min-height: 55%;
  max-height: 55%;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 8px ridge rgb(45, 164, 255)
}

.search-country-div {
  position: relative;
  text-align: center;
  position: relative;
  margin: 20px 5% 30px;
}

.country-search-name {
  margin: 0;
  font-weight: 700;
  font-size: medium;
}

.fave-button {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  height: 35px;
  width: 35px;
  right: 0;
  top: 0;
  transition: 0.3s
}

.fave-button:hover {
  transform-origin: top right;
  transform: scale(1.1)

}

.selected {
  background-image: url('./goldstar_filled.png');
}

.not-selected {
  background-image: url('./goldstar_empty.png');
}

.search-flag {
  max-height: 120px
}

button {
  height: 27px
}

.country-detail {
  max-height: 100%;
  overflow-x: hidden;
}

.country-details-list {
  margin: 25px 0;
  height: 75%;
  min-height: 75%;
  max-height: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
}


.country-details-container {
  display: flex;
  align-items: baseline
}

.flag {
  width:90px;
  height: 60px
}

.country-title {
  margin: 0;
  font-size: 24px;
  padding: 0 1%;
}

.country-info {
  display: inline-block;
  width: 50%
}

span {
  font-style: normal;
}

.detail-text-format {
  margin: 10px 0;
  font-style: italic;
}

.checkbox {
  height: 20px;
  width: 20px

}

h3 {
  margin: 22px 10px 
}

footer {
  text-align: center;
  margin-top: 20px;
  font-family: cursive;
  font-size: 15px;
}


.pop-out-input {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.605);
}

fieldset {
  z-index: 1;
  width: 75%;
  border-radius: 15px;
  background-color: white;
}

.pop-out-fields {
  display: inline-block;
  width:40%;
  padding: 0 5%;
}

.text{
  display: block;
  margin: 5px 0 20px 0
}

.pop-out-header {
  display: inline-block;
  font-weight: 800;
  font-size: larger;
  margin: 10px 0 20px 0;
  width: 100%
}

label {
  font-size: medium;
  font-weight: 500;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}